@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Bem Vindo!</h1>
    <p>Mais sobre meus projetos <a href="https://github.com/TeixeiraBriel?tab=repositories" target="_blank">Gabriel Teixeira | GitHub</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Primeira Historia</h2>
        <p>
            Primeira historia, baseada em nada apenas para teste
        </p>
        <button class="btn btn-secondary">
            <a @Html.ActionLink("Começar", "Sequencia", "Fragmentos", new { id = "1" }, null)</a>
        </button>
    </div>
    <div class="col-md-4">
        <h2>Primeira Historia</h2>
        <p>
            Primeira historia, baseada em nada apenas para teste
        </p>
        <button class="btn btn-secondary">
            <a @Html.ActionLink("Começar", "Sequencia", "Fragmentos", new { id = "1" }, null)</a>
        </button>
    </div>
    <div class="col-md-4">
        <h2>Primeira Historia</h2>
        <p>
            Primeira historia, baseada em nada apenas para teste
        </p>
        <button class="btn btn-secondary">
            <a @Html.ActionLink("Começar", "Sequencia", "Fragmentos", new { id = "1" }, null)</a>
        </button>
    </div>
</div>